* {
    box-sizing: border-box;
}

.container {
    max-width: 65vw;
    display: flex;
    height: 320px;
    min-width: 400px;
     
}

section {
    display: flex;
    flex-wrap: wrap;  
}

section.notes {
    width: 30%;
    flex-direction: column; 
}

section.week {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

span {
    border: 1px solid black;
    width: 20%;
    padding: 15px;
    font-size: 0.9vw;
    font-weight: bold;
    text-align: center;
}

.item:nth-child(1), 
.item:nth-child(7){
    width: 100%;
}

.item:nth-child(8),
.item:nth-child(9) {
    width: 50%;
}

.note-item:nth-child(1),
.note-item:nth-child(2) {  
    height: 50%;
    width: 60%;   
    border-right: 1.5px solid black;
}

.note-item:nth-child(1) {
    border-top: 1.5px solid black;
}
.note-item:nth-child(2) {
    border-bottom: 1.5px solid black;
}