@media screen and (max-width:600px) {
    .thumbnails {
        flex-direction: column;
    }

    .thumbnails div {
        width: 100%;
        
    }  

    .thumbnails div > a {
        height: 290px;
    }

    img {
        width: 100%;
        height: 80%;
        object-fit: cover;
    }
}