@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Open Sans';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins;
}

nav {
    width: 70%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.nav__item {
    display: flex;
}

.nav__item li:not(:last-child) {
    margin-right: 30px;
}

.nav__item a {
    text-decoration: none;
    color: #000;
}

.hero {
    position: relative;
}

.hero__img {
    height: 470px;
}

.hero__img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.care {
    color: white;
    width: 300px;
    height:324px ;
    position: absolute;
    top: 60px;
    left: 186px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title .sub {
    font-size: 65px;
    font-weight: 100;
    position: relative;
    top: 21px;
}

.title h1 {
    font-size: 55px;
   
}

.white__btn {
    width: 140px;
    padding: 7px 0;
    border-radius: 25px;
    border: none;
    background-color: white;
    font-size: 0.8rem;
    font-weight: 700;
    color: #e92915;
}

.dog__img {
    width: 440px;
    height: 440px;
    position: absolute;
    top: 84px;
    right: 262px;
}

.dog__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services {
    padding: 100px 0;
    width: 70%;
    margin: auto;
}

.ser__title {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
}

.ser__title p {
    margin-bottom: 10px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.card {
    border: 1px solid #e92915;
    border-radius: 6px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 350px;
}

.card:nth-child(1) {
    border-right-style: hidden;
}

.card:nth-child(3) {
    border-left-style: hidden;
}

.card__content {
   text-align: center;
}

.card__content p {
    font-size: small;
    margin-top: 30px;
}

.card__img {
    width: 100px;
    height: 100px;
    background-image: url(../images/service-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
}

.cat {
    display: flex;
    width: 70%;
    margin: auto;
    padding: 100px 0px;
}

.cat__img,
.cat__info {
    width: 50%;
}

.box__img {
    width: 320px;
    height: 320px;
}

.cat__info {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cat__title p {
    font-size: xx-large;
}

.cat__title  h1{
    font-size: xx-large;
}

.cat__btn {
    width: 140px;
    padding: 7px 0;
    border-radius: 25px;
    border: none;
    background-color: #e92915;
    font-size: 0.8rem;
    font-weight: 700;
    color: white;
}

.red {
    background-color: #f8f8f8;
}

.red__img {
    position: relative;
}

.red__content {
    width: 35%;
    height: 222px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.red__content span {
    margin-left: 10px;
}

.red__content h1 {
    font-size: xx-large;
}

footer {
    height: 300px;
}

footer {
    margin: auto;
    width: 80%;
    display: flex;
  padding-top: 66px;
    justify-content: space-around;
    /* align-items: center; */
}

.big {
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 20px;
}

button {
    cursor: pointer;
}


