@media screen and (max-width:600px) {
    .parallax-window {
        min-height: 540px;
    } 

    .row {
        flex-direction: column;
        align-items: center;
    }

    .tm-gallery-page {
        flex-direction: column;
        margin: 0;
    }

    .tm-gallery {
        margin-left: unset;
    }
}
